<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="../js/vue.js"></script>
    <style>
    </style>
</head>

<body>
    <!-- HTML DOM template -->
    <div id="app">
        <!-- <input type="radio" value="male" name="gender" checked>Male
        <input type="radio" value="female" name="gender">Female
        <input type="radio" value="others" name="gender">Others -->
        <input type="radio" value="male" v-model="gender" checked>Male
        <input type="radio" value="female" v-model="gender">Female
        <input type="radio" value="others" v-model="gender">Others
        <p>{{gender}}</p>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: { //變數放這裡！
                gender:'',
                gender:'male',
            },
            methods: { //函數(方法)大部分放這裡!
                setMessage(e){
                    // console.log(e);
                    this.message = e.target.value;
                }
            },
            computed: {  //函數(方法)也可以放這裡，但是放在這裡的函數，不能傳參數，一定要有回傳值
            },
        });
    </script>
</body>

</html>