<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <script src="../js/vue.js"></script>
</head>
<body>    
    <div id="app">  <!-- HTML DOM template -->       
       <todo-list></todo-list>
    </div>
    
    <script> 
        Vue.component('todo-item', {
            props: ['xyz'],
            template: `<li>{{xyz}}</li>`,
        });

        Vue.component('todo-input', {
            data(){
                return {
                    task: '',
                };
            },
            methods: {
                submitData(){
                    // this.$emit('自訂事件名稱',值1, 值2, ...)
                    this.$emit('abc', this.task)
                    this.task = ''
                }
            },
            template: `
                <form @submit.prevent="submitData">
                    <input v-model="task">
                    <button>Submit</button>
                </form>
            `,
        });
        
        Vue.component('todo-list', {
            data(){
                return {
                    tasks: [],
                };
            },
            methods: {
                addTask(item){
                    this.tasks.push(item)
                },
                removeTask(index){
                    this.tasks.splice(index,1)
                },
            },
            template: `
                <div>
                    <todo-input @abc="addTask"></todo-input>
                    <ol>
                        <todo-item v-for="(task,index) in tasks" v-bind:xyz="task" @click.native="removeTask(index)"></todo-item>
                    </ol> 
                </div>
            `,
        });


        new Vue({
            el: '#app',
        });
    </script>
</body>
</html>

<!-- 
<form>
    <input v-model="task">
    <button>Submit</button>
</form>
<ol>
    <li></li>
</ol> 
-->